---
import Text from "../system/Text.astro";

// import Swiper styles
import "swiper/css";

import "swiper/css/navigation";
import "swiper/css/pagination";

import slide1 from "../../image/academics/skating.jpg";
import slide2 from "../../image/academics/throwball.jpg";
import slide3 from "../../image/academics/crick.jpeg";
import slide4 from "../../image/academics/basketball.jpg";
import slide5 from "../../image/academics/footy.jpeg";

import slide6 from "../../image/academics/dance.jpeg";
import slide7 from "../../image/academics/music2.jpeg";
import slide8 from "../../image/academics/artgallery.jpeg";

// import slide3 from "../../images/slides/01.webp";

import { Image } from "astro:assets";
import StudentEnrichmentSlide from "./StudentEnrichmentSlide.astro";
import blobSmallDark from "../../fillers/blobSmallDark.png";
import bulletPoint from "../../fillers/bulletPoint.png";
import DeckCard from "../DeckCard.astro";
import Gallery from "../Gallery.astro";

import wellness from "../../image/academics/wellness.png";
import spoken from "../../image/academics/spoken.png";
import lifeskills from "../../image/academics/scouts.png";
import pers from "../../image/academics/pers.png";
---

<div
  class="w-full px-20 max-md:px-8 max-md:py-[50px] pt-[67px] pb-[95px] max-md:rounded-t-[50px] rounded-t-[120px] bg-[#1E1E1E] text-white"
>
  <div
    class="flex flex-row items-center max-md:items-start w-full justify-between"
  >
    <div>
      <Text type="h3">
        Student-Enrichment <span class="text-primary">Programs</span>
      </Text>
      <div class="pt-[14px]"></div>
      <Text type="base" class="text-white">
        Unlock a world of exclusive programs tailored for students, providing
        enriching experiences beyond the ordinary curriculum.
      </Text>
    </div>
    <div class="w-[130px] flex-shrink-0 max-md:w-[60px]">
      <Image class="w-full h-full" src={blobSmallDark} alt="blob" />
    </div>
  </div>
  <div class="pt-[36px] max-md:pt-[20px]"></div>
  <div class="flex flex-row w-full justify-between items-center">
    <div
      class="w-[53px] flex-shrink-0 h-[53px] max-md:w-[40px] max-md:h-[40px] bg-white rounded-[50%] cursor-pointer"
      data-slide-prev
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        viewBox="0 0 54 54"
        fill="none"
      >
        <g filter="url(#filter0_b_668_1006)">
          <circle
            cx="26.8"
            cy="26.8"
            r="26.8"
            transform="matrix(-1 0 0 1 53.6016 0.200012)"
            fill="white"
            fill-opacity="0.9"></circle>
          <circle
            cx="26.8"
            cy="26.8"
            r="26.4"
            transform="matrix(-1 0 0 1 53.6016 0.200012)"
            stroke="white"
            stroke-width="0.8"></circle>
        </g>
        <path
          d="M14.4023 27.8001L34.2023 39.2316L34.2023 16.3686L14.4023 27.8001Z"
          fill="#FF6F24"></path>
        <defs>
          <filter
            id="filter0_b_668_1006"
            x="-5.6"
            y="-5.39999"
            width="64.8016"
            height="64.8"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.8"
            ></feGaussianBlur>
            <feComposite
              in2="SourceAlpha"
              operator="in"
              result="effect1_backgroundBlur_668_1006"></feComposite>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_backgroundBlur_668_1006"
              result="shape"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>

    <div
      class="tab-nav-btn-container no-scrollbar flex flex-row overflow-scroll flex-1 max-md:flex-[unset] items-center max-md:w-[unset] w-full gap-10 p-10 max-md:p-0 max-md:justify-center max-md:flex"
    >
      <div
        class="tab-nav-btn max-md:border-b-0 [&.active]:border-b-[5px] border-b-primary min-w-max max-md:min-w-min max-md:min-h-[80px] max-md:[&.active]:border-b-0 max-md:[&.active>div]:!text-16px max-md:[&.active]:!flex max-md:!hidden max-md:items-center max-md:text-center max-md:w-[90%] active"
        data-slide-page="0"
      >
        <Text
          type="subtitle"
          class="uppercase text-[22px] cursor-pointer text-white/40 active"
        >
          Sports Education
        </Text>
      </div>
      <div
        class="tab-nav-btn max-md:border-b-0 [&.active]:border-b-[5px] border-b-primary min-w-max max-md:min-w-min max-md:min-h-[80px] max-md:[&.active]:border-b-0 max-md:[&.active>div]:!text-16px max-md:[&.active]:!flex max-md:!hidden max-md:items-center max-md:text-center max-md:w-[90%]"
        data-slide-page="1"
      >
        <Text
          type="subtitle"
          class="uppercase text-[22px] cursor-pointer text-white/40"
        >
          Visual & Performing Arts
        </Text>
      </div>
      <div
        class="tab-nav-btn max-md:border-b-0 [&.active]:border-b-[5px] border-b-primary min-w-max max-md:min-w-min max-md:min-h-[80px] max-md:[&.active]:border-b-0 max-md:[&.active>div]:!text-16px max-md:[&.active]:!flex max-md:!hidden max-md:items-center max-md:text-center max-md:w-[90%]"
        data-slide-page="2"
      >
        <Text
          type="subtitle"
          class="uppercase text-[22px] cursor-pointer text-white/40"
        >
          Student Wellness
        </Text>
      </div>
      <div
        class="tab-nav-btn max-md:border-b-0 [&.active]:border-b-[5px] border-b-primary min-w-max max-md:min-w-min max-md:min-h-[80px] max-md:[&.active]:border-b-0 max-md:[&.active>div]:!text-16px max-md:[&.active]:!flex max-md:!hidden max-md:items-center max-md:text-center max-md:w-[90%]"
        data-slide-page="3"
      >
        <Text
          type="subtitle"
          class="uppercase text-[22px] cursor-pointer text-white/40"
        >
          Spoken Foreign Language
        </Text>
      </div>
      <div
        class="tab-nav-btn max-md:border-b-0 [&.active]:border-b-[5px] border-b-primary min-w-max max-md:min-w-min max-md:min-h-[80px] max-md:[&.active]:border-b-0 max-md:[&.active>div]:!text-16px max-md:[&.active]:!flex max-md:!hidden max-md:items-center max-md:text-center max-md:w-[90%]"
        data-slide-page="4"
      >
        <Text
          type="subtitle"
          class="uppercase text-[22px] cursor-pointer text-white/40"
        >
          Life SKILLS Program
        </Text>
      </div>
      <div
        class="tab-nav-btn max-md:border-b-0 [&.active]:border-b-[5px] border-b-primary min-w-max max-md:min-w-min max-md:min-h-[80px] max-md:[&.active]:border-b-0 max-md:[&.active>div]:!text-16px max-md:[&.active]:!flex max-md:!hidden max-md:items-center max-md:text-center max-md:w-[90%]"
        data-slide-page="5"
      >
        <Text
          type="subtitle"
          class="uppercase text-[22px] cursor-pointer text-white/40"
        >
          Personality development
        </Text>
      </div>
    </div>

    <div
      class="w-[53px] flex-shrink-0 h-[53px] max-md:w-[40px] max-md:h-[40px] bg-white rounded-[50%] -scale-x-100 cursor-pointer"
      data-slide-next
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        viewBox="0 0 54 54"
        fill="none"
      >
        <g filter="url(#filter0_b_668_1006)">
          <circle
            cx="26.8"
            cy="26.8"
            r="26.8"
            transform="matrix(-1 0 0 1 53.6016 0.200012)"
            fill="white"
            fill-opacity="0.9"></circle>
          <circle
            cx="26.8"
            cy="26.8"
            r="26.4"
            transform="matrix(-1 0 0 1 53.6016 0.200012)"
            stroke="white"
            stroke-width="0.8"></circle>
        </g>
        <path
          d="M14.4023 27.8001L34.2023 39.2316L34.2023 16.3686L14.4023 27.8001Z"
          fill="#FF6F24"></path>
        <defs>
          <filter
            id="filter0_b_668_1006"
            x="-5.6"
            y="-5.39999"
            width="64.8016"
            height="64.8"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.8"
            ></feGaussianBlur>
            <feComposite
              in2="SourceAlpha"
              operator="in"
              result="effect1_backgroundBlur_668_1006"></feComposite>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_backgroundBlur_668_1006"
              result="shape"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
  </div>

  <!-- Slider main container -->
  <div class="swiper pt-[50px] max-md:pt-[25px]">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <StudentEnrichmentSlide>
        <div slot="title">
          Sports <span>Education</span>
        </div>
        <div slot="body">
          At Ekam School, we believe that sports are an important part of your
          child's education. Our Sports Education Program (SEP) helps students
          develop the knowledge, skills, and attitudes they need to be
          physically active and healthy throughout their lives.
          <br />
          <br />

          <div class="flex flex-col gap-5">
            <div class="flex flex-row">
              <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
                <Image
                  src={bulletPoint}
                  alt="bullet point"
                  class="w-full h-full"
                />
              </div>
              <div>
                Skill Mastery: Acquire body control and technique proficiency.
              </div>
            </div>

            <div class="flex flex-row">
              <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
                <Image
                  src={bulletPoint}
                  alt="bullet point"
                  class="w-full h-full"
                />
              </div>
              <div>
                Partnering with Trinity College, London to nurture music
                enthusiasts.
              </div>
            </div>

            <div class="flex flex-row">
              <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
                <Image
                  src={bulletPoint}
                  alt="bullet point"
                  class="w-full h-full"
                />
              </div>
              <div>
                Teamwork & Safety: Promote cooperation and prioritize safety
                measures.
              </div>
            </div>
          </div>
        </div>

        <div slot="thumb">
          <DeckCard
            containerClass="w-[380px] h-[350px] max-md:w-[280px] max-md:h-[260px]"
            class="relative left-2 max-md:-left-2"
            images={[
              { src: slide1.src, alt: "sports1" },
              { src: slide2.src, alt: "sports2" },
              // { src: slide2.src, alt: "campus2" },
              // {src: slide3, alt: 'campus3'},
            ]}
            target="sports-education"
            id="sports-education-academics"
          />
        </div>

        <div
          slot="cta"
          class="cursor-pointer"
          data-modal-target="sports-education"
          data-target-deck="sports-education-academics"
        >
          VIEW ALL SPORTS OFFERED
        </div>
      </StudentEnrichmentSlide>

      <StudentEnrichmentSlide>
        <div slot="title">
          Visual & <span>Performing</span> Arts
        </div>

        <div slot="body">
          At EKAM International School, we immerse students in a diverse Arts
          curriculum, spanning <span class="text-primary font-bold"
            >sculpture, dance, drama, and music</span
          >. This immersive experience fosters a profound appreciation for the
          arts, acknowledging their impact on society.
          <br />
          <br />

          <div class="flex flex-col gap-5">
            <div class="flex flex-row">
              <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
                <Image
                  src={bulletPoint}
                  alt="bullet point"
                  class="w-full h-full"
                />
              </div>
              <div>
                Partnering with Trinity College, London to nurture music
                enthusiasts.
              </div>
            </div>

            <div class="flex flex-row">
              <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
                <Image
                  src={bulletPoint}
                  alt="bullet point"
                  class="w-full h-full"
                />
              </div>
              <div>
                Sparking creativity through workshops, concerts, & choir
                sessions
              </div>
            </div>
          </div>
        </div>

        <div slot="thumb">
          <DeckCard
            containerClass="w-[380px] h-[350px] max-md:w-[280px] max-md:h-[260px]"
            class="relative left-2 max-md:-left-2"
            images={[
              { src: slide5.src, alt: "campus1" },
              { src: slide6.src, alt: "campus1" },
              // { src: slide2.src, alt: "campus2" },
              // {src: slide3, alt: 'campus3'},
            ]}
            target="visual-arts"
            id="deck-visual-arts"
          />
        </div>

        <div
          slot="cta"
          class="cursor-pointer"
          data-modal-target="visual-arts"
          data-target-deck="deck-visual-arts"
        >
          VIEW ALL PERFORMING ARTS
        </div>
      </StudentEnrichmentSlide>

      <StudentEnrichmentSlide>
        <div slot="title">
          Student <span>Wellness</span>
        </div>
        <Image
          src={wellness}
          alt="wellness"
          class="w-[320px] h-[400px] max-md:w-[260px] max-md:h-[280px] object-contain"
          slot="thumb"
        />

        <div slot="body">
          EKAM's Student Wellness & Health Promotion empowers students to
          nurture their <span class="font-bold text-primary"
            >behavioural and emotional well-being</span
          >. We guide them in making informed choices for a healthy lifestyle
          through prevention, intervention, and education. By fostering a secure
          and supportive environment, we inspire students to thrive as
          responsible citizens.
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex flex-row">
            <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
              <Image
                src={bulletPoint}
                alt="bullet point"
                class="w-full h-full"
              />
            </div>
            <div>
              Exploring health, hygiene, safety, and nutrition through creative
              engagement.
            </div>
          </div>

          <div class="flex flex-row">
            <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
              <Image
                src={bulletPoint}
                alt="bullet point"
                class="w-full h-full"
              />
            </div>
            <div>
              Nurturing vitality through tailored well-being pursuits, unlocking
              personal potential.
            </div>
          </div>
        </div>
      </StudentEnrichmentSlide>

      <StudentEnrichmentSlide>
        <Image
          src={spoken}
          alt="spoken"
          class="w-[320px] h-[400px] max-md:w-[260px] max-md:h-[280px] object-contain"
          slot="thumb"
        />

        <div slot="title">
          Spoken <span>Foreign Language</span>
        </div>
        <div slot="body">
          EKAM focuses on foreign language learning for global relevance.
          Proficiency is vital for higher education and international careers.
          Benefits include improved communication and cultural understanding. <span
            class="text-primary font-bold">French and Spanish</span
          > courses promote active learning and cultural insight. Clubs offer
          diverse enrichment activities, enhancing a student's experiences.
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex flex-row">
            <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
              <Image
                src={bulletPoint}
                alt="bullet point"
                class="w-full h-full"
              />
            </div>
            <div>
              Exploring health, hygiene, safety, and nutrition through creative
              engagement.
            </div>
          </div>

          <div class="flex flex-row">
            <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
              <Image
                src={bulletPoint}
                alt="bullet point"
                class="w-full h-full"
              />
            </div>
            <div>
              Nurturing vitality through tailored well-being pursuits, unlocking
              personal potential.
            </div>
          </div>
        </div>
      </StudentEnrichmentSlide>

      <StudentEnrichmentSlide>
        <Image
          src={lifeskills}
          alt="wellness"
          class="w-[320px] h-[400px] max-md:w-[260px] max-md:h-[280px] object-contain"
          slot="thumb"
        />

        <div slot="title">
          <span>Life Skills</span> Program
        </div>
        <div slot="body">
          At Ekam, our year-round Life Skills program empowers students with
          sessions on self-awareness, effective communication, critical
          thinking, and time management, among other vital skills. Through
          engaging methods like discussions, games, and real-world scenarios, we
          nurture thinking, social, and emotional capabilities that enable them
          to confidently navigate any challenges.
        </div>
      </StudentEnrichmentSlide>

      <StudentEnrichmentSlide>
        <Image
          src={pers}
          alt="wellness"
          class="w-[320px] h-[400px] max-md:w-[260px] max-md:h-[280px] object-contain"
          slot="thumb"
        />

        <div slot="title">
          <span>Personality</span> Development
        </div>
        <div slot="body">
          EKAM offers a range of workshops for holistic development and a
          well-rounded personality. From <span class="text-primary font-bold"
            >Creative & Critical Thinking to Sequential Art and Improvisation</span
          >, these unique sessions broaden perspectives. Guest lectures and
          workshops push students to explore new realms of knowledge and growth,
          fostering a dynamic learning environment.
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex flex-row">
            <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
              <Image
                src={bulletPoint}
                alt="bullet point"
                class="w-full h-full"
              />
            </div>
            <div>
              Exploring health, hygiene, safety, and nutrition through creative
              engagement.
            </div>
          </div>

          <div class="flex flex-row">
            <div class="w-[21px] h-[16px] relative top-1 mr-[21px]">
              <Image
                src={bulletPoint}
                alt="bullet point"
                class="w-full h-full"
              />
            </div>
            <div>
              Nurturing vitality through tailored well-being pursuits, unlocking
              personal potential.
            </div>
          </div>
        </div>
      </StudentEnrichmentSlide>
    </div>
  </div>

  <Gallery
    id="sports-education"
    gallery={[
      { src: slide2.src, caption: "Throwball" },
      { src: slide1.src, caption: "Skating" },
      { src: slide3.src, caption: "Cricket" },
      { src: slide4.src, caption: "Basketball" },
      { src: slide5.src, caption: "Football" },
    ]}
  />
  <Gallery
    id="visual-arts"
    gallery={[
      { src: slide6.src, caption: "Dance" },
      { src: slide7.src, caption: "Music" },
      { src: slide8.src, caption: "Art Gallery" },
    ]}
  />
</div>

<style>
  .swiper {
    width: 100%;
  }

  .tab-nav-btn.active > div {
    color: #ff6f24;
  }
</style>

<script>
  import Swiper from "swiper";
  // import { Navigation, Pagination } from 'swiper/modules';

  const swiper = new Swiper(".swiper", {
    // Optional parameters
    direction: "horizontal",
    loop: false,
    effect: "coverflow",
  });

  const slides = document.querySelectorAll("[data-slide-page]");
  slides.forEach((el) => {
    el.addEventListener("click", (e) => {
      const page = el.dataset.slidePage;
      setActiveTab(page);
    });
  });

  const setActiveTab = (page) => {
    console.log("requesting for page...", page);
    slides.forEach((el) => {
      el.classList.remove("active");
    });
    document
      .querySelector(`[data-slide-page="${page}"]`)
      .classList.add("active");
    swiper.slideTo(page);
    setTimeout(() => {
      document.querySelector(`[data-slide-page="${page}"]`).scrollIntoView({
        behavior: "smooth",
        block: "nearest",
        inline: "center",
      });
    });
  };

  document.querySelector("[data-slide-prev]").addEventListener("click", (e) => {
    // get active slide
    const { activeIndex } = swiper;

    const prevSlideIndex =
      activeIndex === 0 ? swiper.slides.length - 1 : activeIndex - 1;
    setActiveTab(prevSlideIndex);
  });

  document.querySelector("[data-slide-next]").addEventListener("click", (e) => {
    const { activeIndex } = swiper;

    const nextSlideIndex =
      activeIndex === swiper.slides.length - 1 ? 0 : activeIndex + 1;
    setActiveTab(nextSlideIndex);
  });

  swiper.on("slideChange", function (e) {
    setActiveTab(e.activeIndex);
  });
</script>
