---
import Layout from "../layouts/Layout.astro";

import TopNavigationBar from "../components/TopNavigationBar.astro";

import Hero from "./LandingPageHero.astro";

import "../global.css";

import Footer from "../components/landingPage/Footer.astro";
import Text from "../components/system/Text.astro";
import Section from "../components/system/Section.astro";
import GoToCta from "../components/GoToCta.astro";
import campus1 from "../images/campus/gas/gallery/1.jpeg";
import config from "../../config";
const campusConfig = config.campus.find((c) => c.internalName === "kanakapura");
import slide1 from "../images/slides/01.webp";
import slide3 from "../images/slides/03.webp";
import slide4 from "../images/slides/04.webp";
import slide5 from "../images/slides/05.webp";
import DeckCard from "../components/DeckCard.astro";
import Connect from "../components/campus/Connect.astro";

import whyChooseEdify from "../images/whyChooseEdify.png";

import blobBig from "../fillers/blobBig.png";
import blobBigDark from "../fillers/blobBigDark.png";
import { Image } from "astro:assets";
import Carousel from "../components/system/Carousel.astro";
import CarouselCard from "../components/system/CarouselCard.astro";

const toppers = campusConfig?.toppers;


const teams = [
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
  { image: '', name: 'Ajit Mantagani', role: 'CEO at nsl textiles and apparel' },
]
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col">
    <TopNavigationBar />
    <div
      class="h-[calc(100dvh-100px)] flex"
      style="background: linear-gradient(360deg, #1B2226 0%, #052B4C 52.08%, #1370A7 100%);"
    >
      <Hero
        config={{ title: "Welcome to Insight Academy", bgImage: campus1 }}
        showSlide={true}
        slideImages={[
          { slide: slide5.src, position: "center 64%", type: "image" },
          { slide: slide1.src, position: "center", type: "image" },
          // { slide: slide2.src, position: "right 90%", type: "image" },
          { slide: slide3.src, position: "center ", type: "image" },
          { slide: slide4.src, position: "center", type: "image" },
        ]}
        contentDirection="items-end"
        className="overflow-hidden font-roundo"
      >
        <div slot="title">
          <Text type="h2">
            The Edify <span class="text-primary italic">Way</span>
          </Text>
          <div class="p-1"></div>
          <Text type="base" class="text-white w-[70%] max-md:w-full">
            Edify School, Electronic City has its philosophy rooted in the
            all-round development of the child. Education is envisaged to be
            holistic and integrated; one that will equip students with the
            confidence and skills to explore and interpret the world.
          </Text>
        </div>
      </Hero>
    </div>
  </div>

  <Section class="flex flex-col w-full items-center text-left">
    <Image src={blobBig} class="w-[268px] h-[72px]" alt="Decorative Element" />
    <div class="pt-8"></div>
    <Text type="lg" class="text-center">
      Our Philosophy: Empowering Through <span class="text-primary"
        >Inquiry</span
      >
    </Text>
    <div class="pt-4 max-md:pt-2"></div>
    <Text type="h2">Inquiry-based Learning</Text>
    <div class="pt-8 max-md:pt-2"></div>
    <Text type="base" class="w-[51%] max-md:w-full text-center [&>span]:text-primary">
      Inquiry is the driving factor and leading pedagogical approach that makes
      Edify classrooms so <span>distinctive and unique.</span>
    </Text>

    <div class="pt-16 max-md:pt-6"></div>

    <div class="w-full flex flex-col gap-3 text-white">
      <div class="flex flex-row gap-3 h-[350px] max-md:h-auto max-md:flex-col">
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px]">
          <div
            class="w-full h-full bg-[#333] rounded-[7px] px-[37px] pb-[34px] flex flex-col justify-end max-md:px-[25px] max-md:pt-8"
          >
            <Text type="h2" class="text-[#FFE3C1]">Why?</Text>
            <div class="p-2"></div>
            <Text type="base" class="text-white">
              Our Inquiry based learning education model revolves around
              ‘Inquiry based learning’ through the ‘ Inquiry based learning
              approach’ which develops ‘Character, Competence and Content’ in a
              child.
            </Text>
          </div>
        </div>
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px]">
          <div
            class="w-full h-full bg-[#333] rounded-[7px] px-[37px] pb-[34px] flex flex-col justify-end max-md:px-[25px] max-md:pt-8"
          >
            <Text type="h2" class="text-[#FFE3C1]">What?</Text>
            <div class="p-2"></div>
            <Text type="base" class="text-white">
              Our Inquiry based learning education model revolves around
              ‘Inquiry based learning’ through the ‘ Inquiry based learning
              approach’ which develops ‘Character, Competence and Content’ in a
              child.
            </Text>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-3 h-[350px] max-md:h-auto">
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px]">
          <div
            class="w-full h-full bg-[#333] rounded-[7px] px-[37px] pb-[34px] flex flex-col justify-end max-md:px-[25px] max-md:pt-8"
          >
            <Text type="h2" class="text-[#FFE3C1]">Themes?</Text>
            <div class="p-2"></div>
            <Text type="base" class="text-white">
              Our Inquiry based learning education model revolves around
              ‘Inquiry based learning’ through the ‘ Inquiry based learning
              approach’ which develops ‘Character, Competence and Content’ in a
              child.
            </Text>
          </div>
        </div>
      </div>
      <div class="flex flex-row max-md:flex-col gap-3 h-[350px] max-md:h-auto">
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px]">
          <div
            class="w-full h-full bg-[#333] rounded-[7px] px-[37px] pb-[34px] flex flex-col justify-end max-md:px-[25px] max-md:pt-8"
          >
            <Text type="h2" class="text-[#FFE3C1]">Profiles</Text>
            <div class="p-2"></div>
            <Text type="base" class="text-white">
              Our Inquiry based learning education model revolves around
              ‘Inquiry based learning’ through the ‘ Inquiry based learning
              approach’ which develops ‘Character, Competence and Content’ in a
              child.
            </Text>
          </div>
        </div>
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px]">
          <div
            class="w-full h-full bg-[#333] rounded-[7px] px-[37px] pb-[34px] flex flex-col justify-end max-md:px-[25px] max-md:pt-8"
          >
            <Text type="h2" class="text-[#FFE3C1]">Assesment</Text>
            <div class="p-2"></div>
            <Text type="base" class="text-white">
              Our Inquiry based learning education model revolves around
              ‘Inquiry based learning’ through the ‘ Inquiry based learning
              approach’ which develops ‘Character, Competence and Content’ in a
              child.
            </Text>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <Section class="flex flex-col w-full items-center text-left bg-[#1E1E1E] px-[56px] py-[32px] text-white">
    <div class="w-full flex max-md:items-center max-md:gap-[30px] flex-row max-md:flex-col py-[82px] max-md:py-6 gap-[125px] justify-between text-left max-md:text-center">
      <div class="max-md:flex block flex-col items-center">
        <Text type="h2">Our Vision</Text>
        <div class="pt-4 max-md:pt-2" />
        <Text type="lg" class="[&>span]:text-primary text-[28px]">Global citizenship through <span>progressive education.</span></Text>
        <div class="pt-6 max-md:pt-2" />
        <Text type="base" class="max-w-[900px]">
          Edify offers facilities and capable faculty for a variety of activities that students can take part in, such as Literature, Performing Arts, Visual Arts,
        </Text>
        <div class="pt-12 max-md:pt-6" />
        <Image src={blobBigDark} class="w-[268px] max-md:w-[50%]" alt="Decorative Element" />
      </div>
      <Image
        class="w-[324px] max-md:w-[60%] flex-shrink-0"
        src={whyChooseEdify}
        alt="Why choose Edify??"
      />
    </div>
    <div class="pt-[54px] max-md:pt-[20px]" />
    <div class="w-full flex flex-col items-center text-left max-md:text-center">
      <Text type="h2">Our Mission</Text>
      <div class="pt-4 max-md:pt-2" />
      <Text type="lg" class="[&>span]:text-primary text-[28px]">To create an environment <span>conducive to success.</span></Text>
      <div class="pt-9 max-md:pt-3" />
      <div class="w-full flex flex-row justify-between max-md:flex-col max-md:gap-4">
        <div class="p-5 rounded-md border border-white/20 w-[390px] max-md:w-full">
          <div class="bg-red-200 rounded-md h-[271px]"></div>
          <div class="pt-6" />
          <Text type="base" class="[&>span]:text-primary [&>span]:font-bold">
            <span>This is mission #1</span> that will be 2 lines long I think that will be the sentence
          </Text>
        </div>
        <div class="p-5 rounded-md border border-white/20 w-[390px] max-md:w-full">
          <div class="bg-red-200 rounded-md h-[271px]"></div>
          <div class="pt-6" />
          <Text type="base" class="[&>span]:text-primary [&>span]:font-bold">
            <span>This is mission #1</span> that will be 2 lines long I think that will be the sentence
          </Text>
        </div>
        <div class="p-5 rounded-md border border-white/20 w-[390px] max-md:w-full">
          <div class="bg-red-200 rounded-md h-[271px]"></div>
          <div class="pt-6" />
          <Text type="base" class="[&>span]:text-primary [&>span]:font-bold">
            <span>This is mission #1</span> that will be 2 lines long I think that will be the sentence
          </Text>
        </div>
      </div>
    </div>
  </Section>

  <Section class="flex flex-col w-full items-center text-left px-0">
    <Image src={blobBig} class="w-[268px] h-[72px]" alt="Decorative Element" />
    <div class="pt-8"></div>
    <Text type="h2">Our Management</Text>
    <div class="pt-8"></div>
    <Text type="base" class="w-[51%] max-md:w-full text-center [&>span]:text-primary">
      Inquiry is the driving factor and leading pedagogical approach that makes
      Edify classrooms so <span>distinctive and unique.</span>
    </Text>

    <div class="pt-16 max-md:pt-0"></div>
    <div class="w-full flex flex-row gap-[73px] max-md:flex-col max-md:pr-[0px] pr-[90px]">
      <div class="w-[388px] max-md:w-[300px]  max-md:rounded-tr-[0px] max-md:rounded-br-[0px] h-[451px] flex-shrink-0 bg-red-100 rounded-tr-[150px] rounded-br-[16px]"></div>
      <div>
      <div>
        <div class="pt-1" />
        <Text type="h2">Principal Speak</Text>
        <div class="pt-2" />
        <Text type="lg" class="text-primary">Dr. Manmita Das Raina</Text>
        <div class="pt-8" />
        

        <Text type="base">
          We are passionate about creating a learning institution that is dynamic and constantly seeking excellence to meet the needs of present as well as the future. Schooling in Edify is a journey of personal transformation and appreciating the day to day initiatives pertaining to school programme. At Edify We uncover the hidden potential, unrelenting efforts goes on mentoring and metamorphosing the uncut diamonds into finer Edify gems.
        </Text>
      </div>
      </div>
    </div>
    <div class="pt-[118px]" />
    <div class="w-full flex gap-[73px] max-md:flex-col pl-[90px] max-md:pl-[0px] flex-row-reverse">
      <div class="w-[388px] max-md:w-full h-[451px] flex-shrink-0 bg-red-100 rounded-tl-[150px] rounded-bl-[16px]"></div>
      <div>
      <div>
        <div class="pt-1" />
        <Text type="h2">Principal Speak</Text>
        <div class="pt-2" />
        <Text type="lg" class="text-primary">Mr. Ashok KM Gowda
        </Text>
        <div class="pt-8" />

        <Text type="base">
          We are passionate about creating a learning institution that is dynamic and constantly seeking excellence to meet the needs of present as well as the future. Schooling in Edify is a journey of personal transformation and appreciating the day to day initiatives pertaining to school programme. At Edify We uncover the hidden potential, unrelenting efforts goes on mentoring and metamorphosing the uncut diamonds into finer Edify gems.
        </Text>
      </div>
      </div>
    </div>
  </Section>

  <Section>
    <Text type="h2" class="text-center">Advisory Board</Text>
    <div class="pt-[38px]" />
    <div class="overflow-hidden rounded-lg">
      <Carousel arrowsContainerClass="mt-4" class="gap-1 overflow-scroll" id="advisory-team-carousel">
        {teams.map(team => (
          <CarouselCard>
            <div class="w-[287px] h-[525px] bg-black/30 text-center relative text-white">
              <div class="absolute w-full h-full pb-[34px] flex flex-col justify-end" style={{
                background: 'linear-gradient(180deg, rgba(0, 0, 0, 0.00) 28.7%, #000 100%)',
              }}>
                <Text type="lg">Ajit Mantagani</Text>
                <div class="pt-2" />
                <Text type="sm" class="text-primary">CEO at nsl textiles and apparel</Text>
              </div>
            </div>
          </CarouselCard>
        ))}
      </Carousel>
    </div>
  </Section>


  <div id="contact-us" style="scroll-margin: 60px;">
    <Connect
      details={{
        phoneNo: {
          label: "Call us On",
          value: "+91 80 26667333, +91 80 26667444",
          type: "contact",
        },
        workingHours: {
          label: "Mail us at",
          value: "info@insightacademy.in",
          type: "mail",
        },
        address: {
          label: "We are here",
          value:
            "#20, Vasanthpura Main Road, Off Kanakapura Road, Bangalore – 560 062",
          type: "address",
        },
      }}
      mapEmbedLink="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248939.1866465653!2d77.41886883961928!3d12.864269098588453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae159019e03bd5%3A0x701981105f182a0b!2sEdify%20School%20Kanakapura%20Main%20Road!5e0!3m2!1sen!2sin!4v1695475136575!5m2!1sen!2sin"
    />
  </div>
  <GoToCta />
  <Footer />
</Layout>

<style>
  .float {
    position: fixed;
    /* background-color:#25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
