---
import Layout from "../layouts/Layout.astro";

import TopNavigationBar from "../components/TopNavigationBar.astro";

import Hero from "./LandingPageHero.astro";

import "../global.css";

import Footer from "../components/landingPage/Footer.astro";
import Text from "../components/system/Text.astro";
import Section from "../components/system/Section.astro";
import GoToCta from "../components/GoToCta.astro";
import campus1 from "../images/campus/gas/gallery/1.jpeg";
import config from "../../config";
const campusConfig = config.campus.find((c) => c.internalName === "kanakapura");
import slide1 from "../images/slides/01.webp";
import slide3 from "../images/slides/03.webp";
import slide4 from "../image/about-us/bg.jpeg";
import slide5 from "../images/slides/05.webp";
import Connect from "../components/campus/Connect.astro";

import vision from "../image/about-us/vision.png";

import blobBig from "../fillers/blobBig.png";
import blobBigDark from "../fillers/blobBigDark.png";
import { Image } from "astro:assets";
import Carousel from "../components/system/Carousel.astro";
import CarouselCard from "../components/system/CarouselCard.astro";

import what from "../image/about-us/what.jpeg";
import why from "../image/about-us/why.jpeg";
import theme from "../image/about-us/theme.png";
import assesment from "../image/about-us/assessment.jpeg";
import profiles from "../image/about-us/profiles.png";

import mission1 from "../image/about-us/mission-1.png";
import mission2 from "../image/about-us/mission-2.png";
import mission3 from "../image/about-us/mission-3.png";

import president from "../image/about-us/president2.jpg";
import principal from "../image/about-us/principal.png";

import advisory1 from "../image/about-us/advisory/1.jpg";
import advisory2 from "../image/about-us/advisory/2.jpg";
import advisory3 from "../image/about-us/advisory/3.jpg";
import advisory4 from "../image/about-us/advisory/4.jpg";
import advisory5 from "../image/about-us/advisory/5.jpg";
import advisory6 from "../image/about-us/advisory/6.jpg";
import advisory7 from "../image/about-us/advisory/7.jpg";
import advisory8 from "../image/about-us/advisory/8.jpg";
import advisory9 from "../image/about-us/advisory/9.jpg";
import advisory10 from "../image/about-us/advisory/10.jpg";
import advisory11 from "../image/about-us/advisory/11.jpg";
import advisory12 from "../image/about-us/advisory/12.jpg";

import advisorydummy from "../image/about-us/advisory/dummy.webp";

const toppers = campusConfig?.toppers;

const advisory = [
  {
    name: "Ajit Mantagani",
    description: "CEO at NSL Textiles and Apparel",
    image: advisorydummy,
  },
  {
    name: "Anjani Kumar Agarwal",
    description: "Established DRS Agarwal packers and movers",
    image: advisorydummy,
  },
  {
    name: "Dr. A. Jagdeesh",
    description: "Founder of Abaya Hospital",
    image: advisorydummy,
  },
  {
    name: "Jude Felix Sebestian",
    description: "Arjuna Awardee, international hockey player",
    image: advisorydummy,
  },
  {
    name: "Jennifer Martindale",
    description: "CEO at NSL Textiles and Apparel",
    image: advisorydummy,
  },
  {
    name: "Mr. Kaiser Dopaishi",
    description: "President of South Asia IB Schools Association",
    image: advisorydummy,
  },
  {
    name: "Major General B.S. Nealakantappa",
    description: "Chief of Army Staff",
    image: advisorydummy,
  },
  {
    name: "Dr. Malathi K. Holla",
    description: "International Para Athlete, Padmashri, and Arjuna Awardee",
    image: advisorydummy,
  },
  {
    name: "Pawan Kumar",
    description: "Renowned Kannada director",
    image: advisorydummy,
  },
  {
    name: "Prof Rajeev Gowda",
    description: "IIM Bangalore Professor",
    image: advisorydummy,
  },
  {
    name: "Sanjay Gubbi",
    description: "Forest Activist",
    image: advisorydummy,
  },
  {
    name: "Saswathi Belliyappa",
    description: "Urban planner",
    image: advisorydummy,
  },
];
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col">
    <TopNavigationBar />
    <div
      class="h-[calc(70svh)] flex"
      style="background: linear-gradient(360deg, #1B2226 0%, #052B4C 52.08%, #1370A7 100%);"
    >
      <Hero
        config={{ title: "Welcome to EKAM Edify", bgImage: campus1 }}
        showSlide={true}
        slideImages={[
          // { slide: slide5.src, position: "center 64%", type: "image" },
          // { slide: slide1.src, position: "center", type: "image" },
          // { slide: slide2.src, position: "right 90%", type: "image" },
          // { slide: slide3.src, position: "center ", type: "image" },
          { slide: slide4.src, position: "top", type: "image" },
        ]}
        contentDirection="items-end"
        className="overflow-hidden font-roundo"
      >
        <div slot="title">
          <Text type="h2">
            Welcome to <span class="text-primary italic">Ekam Edify</span>
          </Text>
          <div class="p-1"></div>
          <Text type="base" class="text-white w-[70%] max-md:w-full">
            EKAM Edify is built on a collaboration between K M Trust and MDN
            Edify Education, situated in Suryanagar near Electronic City,
            Bangalore.
          </Text>
          <div class="p-4"></div>
        </div>
      </Hero>
    </div>
  </div>

  <Section
    class="flex flex-col w-full items-center text-left bg-[#1E1E1E] px-[56px] pt-[0] text-white"
  >
    <div
      class="w-full flex max-md:items-center max-md:gap-[30px] flex-row max-md:flex-col py-[82px] max-md:py-6 gap-[125px] justify-between text-left max-md:text-center"
    >
      <div class="max-md:flex block flex-col items-center">
        <Text type="h2">Our <span>Vision</span></Text>
        <div class="pt-4 max-md:pt-2"></div>
        <Text type="lg" class="[&>span]:text-primary text-[28px]">
          Discovering the world, <span>one question at a time.</span>
        </Text>
        <div class="pt-6 max-md:pt-2"></div>
        <Text type="base" class="max-w-[900px]">
          At Edify School, a strong belief in innovative pedagogy fuels our
          passion to cultivate habits of the mind in our students. As a highly
          collaborative learning community, we are driven by the power of
          inquiry, curiosity and progressive learning. We are defined by our
          commitment to developing a global outlook in our students, and
          encouraging them to be confident, internationally-minded thinkers who
          are at home anywhere in the world.
        </Text>
        <div class="pt-12 max-md:pt-6"></div>
        <Image
          src={blobBigDark}
          class="w-[268px] max-md:w-[50%]"
          alt="Decorative Element"
        />
      </div>
      <Image
        class="w-[324px] max-md:w-[60%] flex-shrink-0"
        src={vision}
        alt="Why choose Edify??"
      />
    </div>
    <div class="pt-[54px] max-md:pt-[20px]"></div>
    <div class="w-full flex flex-col items-center text-left max-md:text-center">
      <Text type="h2">Our <span>Mission</span></Text>
      <div class="pt-4 max-md:pt-2"></div>
      <Text type="lg" class="[&>span]:text-primary text-[28px]">
        To create an environment <span>conducive to success.</span>
      </Text>
      <div class="pt-9 max-md:pt-3"></div>
      <div
        class="w-full flex flex-row justify-between max-md:flex-col max-md:gap-4"
      >
        <div
          class="p-5 rounded-md border border-white/20 w-[390px] max-md:w-full"
        >
          <div class="bg-red-200 rounded-md h-[271px] overflow-hidden">
            <Image src={mission1} alt="" class="object-cover w-full h-full" />
          </div>
          <div class="pt-6"></div>
          <Text type="base" class="[&>span]:text-primary [&>span]:font-bold">
            Cultivating dynamic leaders, nurturing individual talents for a
            promising future.
          </Text>
        </div>
        <div
          class="p-5 rounded-md border border-white/20 w-[390px] max-md:w-full"
        >
          <div class="bg-red-200 rounded-md h-[271px] overflow-hidden">
            <Image src={mission2} alt="" class="object-cover w-full h-full" />
          </div>
          <div class="pt-6"></div>
          <Text type="base" class="[&>span]:text-primary [&>span]:font-bold">
            Fostering independence and resourcefulness for confident, successful
            individuals
          </Text>
        </div>
        <div
          class="p-5 rounded-md border border-white/20 w-[390px] max-md:w-full"
        >
          <div class="bg-red-200 rounded-md h-[271px] overflow-hidden">
            <Image src={mission3} alt="" class="object-cover w-full h-full" />
          </div>
          <div class="pt-6"></div>
          <Text type="base" class="[&>span]:text-primary [&>span]:font-bold">
            Developing active global citizens with high self-esteem, enriching
            the nation and world.
          </Text>
        </div>
      </div>
    </div>
  </Section>

  <Section class="flex flex-col w-full items-center text-left">
    <Image
      src={blobBig}
      class="w-[268px] max-md:w-[140px]"
      alt="Decorative Element"
    />
    <div class="pt-8"></div>
    <Text type="lg" class="text-center">
      Our Philosophy: Empowering Through <span class="text-primary"
        >Inquiry</span
      >
    </Text>
    <div class="pt-4 max-md:pt-2"></div>
    <Text type="h2">Inquiry-based Learning</Text>
    <div class="pt-8 max-md:pt-2"></div>
    <Text
      type="base"
      class="w-[51%] max-md:w-full text-center [&>span]:text-primary"
    >
      Inquiry is the driving factor and leading pedagogical approach that makes
      Edify classrooms so <span>distinctive and unique.</span>
    </Text>

    <div class="pt-16 max-md:pt-6"></div>

    <div class="w-full flex flex-col gap-3 text-white">
      <div class="flex flex-row gap-3 h-[515px] max-md:h-auto max-md:flex-col">
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px] relative">
          <div class="w-full h-full absolute top-0 left-0 p-[7px]">
            <div
              class="w-full h-full"
              style={{
                background: `url(${why.src})`,
                backgroundSize: "cover",
                backgroundPosition: "top",
              }}
            >
            </div>
          </div>
          <div
            class="max-md:min-h-[420px] w-full h-full rounded-[7px] flex flex-col justify-end max-md:px-[0px] max-md:pt-8 z-[1] relative"
          >
            <div
              class="px-[37px] py-6"
              style={{
                background:
                  "linear-gradient(180deg, rgba(26, 24, 23, 0.80) 0%, rgba(45, 15, 0, 0.80) 100%)",
                backdropFilter: "blur(5px)",
              }}
            >
              <Text type="h2" class="text-[#FFE3C1]">Why?</Text>
              <div class="p-1"></div>
              <Text type="base" class="text-white">
                At EKAM Edify, we ignite curiosity by delving into 'Why'
                questions, resulting in a deeper grasp of concepts, whether
                inside or outside the classroom.
              </Text>
            </div>
          </div>
        </div>

        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px] relative">
          <div class="w-full h-full absolute top-0 left-0 p-[7px]">
            <div
              class="w-full h-full"
              style={{
                background: `url(${what.src})`,
                backgroundSize: "cover",
                backgroundPosition: "top",
              }}
            >
            </div>
          </div>
          <div
            class="max-md:min-h-[420px] w-full h-full rounded-[7px] flex flex-col justify-end max-md:px-[0px] max-md:pt-8 z-[1] relative"
          >
            <div
              class="px-[37px] py-6"
              style={{
                background:
                  "linear-gradient(180deg, rgba(26, 24, 23, 0.80) 0%, rgba(45, 15, 0, 0.80) 100%)",
                backdropFilter: "blur(5px)",
              }}
            >
              <Text type="h2" class="text-[#FFE3C1]">What?</Text>
              <div class="p-1"></div>
              <Text type="base" class="text-white">
                Engaging in inquiry-based learning means exploring 'What'
                questions, resulting in a more profound understanding through
                thoughtful exploration.
              </Text>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-3 h-[515px] max-md:h-auto">
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px] relative">
          <div class="w-full h-full absolute top-0 left-0 p-[7px]">
            <div
              class="w-full h-full"
              style={{
                background: `url(${theme.src})`,
                backgroundSize: "cover",
                backgroundPosition: "top",
              }}
            >
            </div>
          </div>
          <div
            class="max-md:min-h-[420px] w-full h-full rounded-[7px] flex flex-col justify-end max-md:px-[0px] max-md:pt-8 z-[1] relative"
          >
            <div
              class="px-[37px] py-6"
              style={{
                background:
                  "linear-gradient(180deg, rgba(26, 24, 23, 0.80) 0%, rgba(45, 15, 0, 0.80) 100%)",
                backdropFilter: "blur(5px)",
              }}
            >
              <Text type="h2" class="text-[#FFE3C1]">Themes</Text>
              <div class="p-1"></div>
              <Text type="base" class="text-white">
                We incorporate six Trans-disciplinary Themes: Who We Are, Where
                We Are in Place & Time, How We Express Ourselves, How the World
                Works, How We Organise Ourselves & Sharing the Planet. These
                themes promote engaging, memorable learning experiences rooted
                in everyday life.
              </Text>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row max-md:flex-col gap-3 h-[515px] max-md:h-auto">
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px] relative">
          <div class="w-full h-full absolute top-0 left-0 p-[7px]">
            <div
              class="w-full h-full"
              style={{
                background: `url(${profiles.src})`,
                backgroundSize: "cover",
                backgroundPosition: "top",
              }}
            >
            </div>
          </div>
          <div
            class="max-md:min-h-[420px] w-full h-full rounded-[7px] flex flex-col justify-end max-md:px-[0px] max-md:pt-8 z-[1] relative"
          >
            <div
              class="px-[37px] py-6"
              style={{
                background:
                  "linear-gradient(180deg, rgba(26, 24, 23, 0.80) 0%, rgba(45, 15, 0, 0.80) 100%)",
                backdropFilter: "blur(5px)",
              }}
            >
              <Text type="h2" class="text-[#FFE3C1]">Profiles (3C)</Text>
              <div class="p-1"></div>
              <Text type="base" class="text-white">
                We believe in - instilling Character through values and
                attitudes; Competence in essential skills and knowledge for
                success; Content that is relevant and meaningful for today’s day
                and age.
              </Text>
            </div>
          </div>
        </div>
        <div class="h-full flex-1 bg-[#FFE3C1] rounded-[7px] p-[7px] relative">
          <div class="w-full h-full absolute top-0 left-0 p-[7px]">
            <div
              class="w-full h-full"
              style={{
                background: `url(${assesment.src})`,
                backgroundSize: "cover",
                backgroundPosition: "top",
              }}
            >
            </div>
          </div>
          <div
            class="max-md:min-h-[420px] w-full h-full rounded-[7px] flex flex-col justify-end max-md:px-[0px] max-md:pt-8 z-[1] relative"
          >
            <div
              class="px-[37px] py-6"
              style={{
                background:
                  "linear-gradient(180deg, rgba(26, 24, 23, 0.80) 0%, rgba(45, 15, 0, 0.80) 100%)",
                backdropFilter: "blur(5px)",
              }}
            >
              <Text type="h2" class="text-[#FFE3C1]">Assessment</Text>
              <div class="p-1"></div>
              <Text type="base" class="text-white">
                Assessment helps analyse learning, plan for the future, and
                track progress, ensuring effective teaching and student growth.
              </Text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <Section class="flex flex-col w-full items-center text-left !px-0">
    <Image
      src={blobBig}
      class="w-[268px] max-md:w-[140px]"
      alt="Decorative Element"
    />
    <div class="pt-8"></div>
    <Text type="h2">Our Management</Text>
    <!-- <div class="pt-8"></div> -->

    <div class="pt-16 max-md:pt-8"></div>

    <div
      class="w-full flex gap-[73px] max-md:gap-[24px] max-md: max-md:items-center max-md:flex-col pl-[90px] max-md:px-[20px] flex-row-reverse"
    >
      <div
        class="w-[388px] max-md:w-[180px] max-md:h-auto max-md:rounded-none overflow-hidden h-[451px] flex-shrink-0 bg-red-100 rounded-tl-[150px] rounded-bl-[16px]"
      >
        <Image
          src={president}
          class="w-full h-full object-cover"
          alt="President"
        />
      </div>
      <div>
        <div>
          <div class="pt-1"></div>
          <Text type="h2">Message from our President</Text>
          <div class="pt-2"></div>
          <Text type="lg" class="text-primary">Mr. Ashok KM Gowda</Text>
          <div class="pt-8"></div>

          <Text type="base">
            At Kamala Muniyappa Education Trust, we’re driven by a deep
            commitment to provide quality education, transcending barriers of
            caste, religion, and gender. Starting with 67 students, Ekam Edify
            has grown to over 650 students, drawing students from various parts
            of the city. Our school stands as a testament, offering subsidised
            and, in some cases, free education to hundreds of children. We are
            immensely proud of achieving a 100% quality result in the CBSE Board
            exams, showcasing the dedication and excellence of our institution.
            Our strong emphasis on values, life skills, and community engagement
            further cements our dedication to holistic education.
          </Text>
        </div>
      </div>
    </div>

    <div class="pt-[118px]"></div>

    <div
      class="w-full flex flex-row gap-[73px] max-md:gap-[24px] max-md: max-md:items-center max-md:flex-col max-md:px-[20px] pr-[90px]"
    >
      <div
        class="w-[388px] max-md:w-[180px] max-md:h-auto max-md:rounded-none overflow-hidden max-md:rounded-tr-[0px] max-md:rounded-br-[0px] h-[451px] flex-shrink-0 bg-red-100 rounded-tr-[150px] rounded-br-[16px]"
      >
        <Image
          src={principal}
          class="w-full h-full object-cover"
          alt="President"
        />
      </div>
      <div>
        <div>
          <div class="pt-1"></div>
          <Text type="h2">Message from our Principal</Text>
          <div class="pt-2"></div>
          <Text type="lg" class="text-primary">Dr. Manmita Das Raina</Text>
          <div class="pt-8"></div>

          <Text type="base">
            At Edify, we're dedicated to nurturing holistic development,
            blending modern knowledge with traditional values. Our focus is on
            creating an academically strong yet globally aware environment,
            where each child is treasured and guided towards emotional,
            intellectual, and spiritual growth. We emphasize a balanced
            curriculum and a safe atmosphere to foster critical thinking and a
            lifelong love for learning. Our ultimate goal is to equip students
            to not only adapt to change, but to confidently face life's
            challenges, building a strong belief system for a promising future.
          </Text>
        </div>
      </div>
    </div>
  </Section>

  <Section>
    <Text type="h2" class="text-center">Advisory Board</Text>
    <div class="pt-[38px]"></div>
    <div class="overflow-hidden rounded-lg">
      <Carousel
        arrowsContainerClass="mt-4"
        class="gap-1 overflow-scroll"
        id="advisory-team-carousel"
      >
        {
          advisory.map((advisor) => (
            <CarouselCard>
              <div class="w-[287px] max-md:w-[143px] max-md:h-[262px] h-[525px] bg-black/30 text-center relative text-white">
                <div class="absolute top-0 left-0 w-full h-full">
                  <Image
                    src={advisor.image}
                    class="w-full h-full object-cover grayscale"
                    alt={advisor.name}
                  />
                </div>
                <div
                  class="absolute w-full h-full pb-[34px] flex flex-col max-md:pt-0 max-md:justify-end max-md:pb-[10px] pb-unset pt-[140%] items-center"
                  style={{
                    background:
                      "linear-gradient(180deg, rgba(0, 0, 0, 0.00) 28.7%, #000 100%)",
                  }}
                >
                  <Text type="lg" class="max-md:text-sm max-md:w-[90%]">
                    {advisor.name}
                  </Text>
                  <div class="pt-2" />
                  <Text
                    type="sm"
                    class="text-primary max-md:text-xs max-w-[70%]"
                  >
                    {advisor.description}
                  </Text>
                </div>
              </div>
            </CarouselCard>
          ))
        }
      </Carousel>
    </div>
  </Section>

  <div id="contact-us" style="scroll-margin: 60px;">
    <Connect
      details={{
        phoneNo: {
          label: "Call us On",
          value: "+91 80 26667333, +91 80 26667444",
          type: "contact",
        },
        workingHours: {
          label: "Mail us at",
          value: "info@insightacademy.in",
          type: "mail",
        },
        address: {
          label: "We are here",
          value:
            "#20, Vasanthpura Main Road, Off Kanakapura Road, Bangalore – 560 062",
          type: "address",
        },
      }}
      mapEmbedLink="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248939.1866465653!2d77.41886883961928!3d12.864269098588453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae159019e03bd5%3A0x701981105f182a0b!2sEdify%20School%20Kanakapura%20Main%20Road!5e0!3m2!1sen!2sin!4v1695475136575!5m2!1sen!2sin"
    />
  </div>
  <GoToCta />
  <Footer />
</Layout>

<style>
  .float {
    position: fixed;
    /* background-color:#25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
