---
import Layout from "../layouts/Layout.astro";

import TopNavigationBar from "../components/TopNavigationBar.astro";

import titleBG from "../images/titleBG.png";
import "../global.css";
import Footer from "../components/landingPage/Footer.astro";
import Text from "../components/system/Text.astro";
import Section from "../components/system/Section.astro";
import GoToCta from "../components/GoToCta.astro";
import Pedagogy from "../components/academics/pedagogy.astro";

import StudentEnrichment from "../components/academics/StudentEnrichment.astro";

import academic1 from "../images/academic/1.png";
import academic2 from "../images/academic/2.png";
import config from "../../config";
import TopperCard from "../components/TopperCard.astro";
import Card from "../components/academics/Card.astro";

const campusConfig = config.campus.find((c) => c.internalName === "kanakapura");

const toppers = campusConfig?.toppers;
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col">
    <TopNavigationBar />
  </div>

  <div
    class="w-full h-[284px] max-md:h-[190px] flex flex-col items-center justify-center"
    style={{
      backgroundImage: `url(${titleBG.src})`,
      backgroundSize: "cover",
    }}
  >
    <Text type="h2">
      Our Academic <span>Programs</span>
    </Text>
    <div class="p-1"></div>
    <Text type="lg" class="text-center">Curriculum Fueled by Inquiry,<br class="max-md:block hidden" /> Enriched by Exploration</Text>
  </div>


  <Pedagogy />

  <div
    class="w-full bg-[#FFE3C1] border"
    style={{
      borderColor: "rgba(255, 111, 36, 0.48)",
    }}
  >
    <Section class="flex flex-col items-center px-[30px]">
      <Card
        image={academic1}
        title={["Elementary", "(IK1-IK3)"]}
        layout="left"
        bodyContent="Edify International Kindergarten Program encourages creativity and teamwork through innovative programs. We empower children to communicate effectively, and try new things."
        bulletPoints={[
          "Wonder Room: A fun space for kids to engage in hands-on activities, role-playing, math challenges, and dramatic play guided by interactive learning.",
          "Storytelling: Exciting sessions featuring picture-books, props, lively puppets, and a touch of theatrical magic to inspire creativity in kids.",
          "Jungle Gym: A play area with slides, walkways, swings, tunnels, and climbing walls offering various levels of challenge for children of different abilities.",
        ]}
      />
      <div class="p-[60px] max-md:p-[10px]"></div>
      <Card
        image={academic2}
        title={["Primary School Program", "(Grades 1-5)"]}
        layout="right"
        bodyContent="The Primary School Program aims to develop reflective thinking, preparing students to address real-world challenges through a trans-disciplinary learning approach. In this process, students master language skills to comprehend, infer, critically analyse, and use language creatively in their day-to-day interactions."
        bulletPoints={[
          "Math Marvels: Students emerge fluent in numeration, everyday computations, spatial lingo, logic-life links, data handling, pattern spotting, and more!",
          "Personalised Progress: Classroom activities aim for tailored growth - fine motor skills, independent decision-making, vibrant social interactions, and a rock-solid knowledge foundation!",
          "Collaborative Learning: EVS hones skills through dynamic tools like keen observation, lively discussions, questioning, analysis, and hands-on experimentation, fostering a strong sense of teamwork and collaboration.",
        ]}
      />
    </Section>
  </div>
  <div class="w-full bg-white">
    <Section class="flex flex-col items-center px-[30px]">
      <Card
        image={academic1}
        title={["Middle School Program", "(Grades 6-10)"]}
        layout="left"
        border
        bodyContent="The Middle School Program caters to students aged 11-17 and aims to enhance critical thinking, abstract reasoning, and ethical decision-making abilities. The program encourages goal-setting, discernment of facts, and understanding consequences, achieved through diverse subject perspectives."
        bulletPoints={[
          "Academic Highlight - I",
          "Academic Highlight - II",
          "Academic Highlight - III",
        ]}
      />
      <!-- <div class="p-[60px] max-md:p-[10px]"></div>
      <Card
        image={academic2}
        title={["Senior Program", "(Grades 9-12)"]}
        layout="right"
        border
        bodyContent="This will be a small writeup on the academics offered. This has to be a 4-5 line paragraph covering all the aspects of the academics offered in the school for this grade."
        bulletPoints={[
          "Academic Highlight - I",
          "Academic Highlight - II",
          "Academic Highlight - III",
        ]}
      /> -->
    </Section>
  </div>

  <div id="studentenrichment">
    <StudentEnrichment />
  </div>

  <Section class="text-center">
    <Text type="subtitle">INSPIRING FEATS</Text>
    <p class="p-2"></p>
    <Text type="h2">
      Celebrating <span>Achievements</span>
    </Text>
    <p class="p-3"></p>
    <Text type="base" class="text-center">
      We take immense pride in celebrating academic triumphs that reflect the
      students’ dedication.
    </Text>
    <p class="p-3"></p>
    <div class="flex items-center justify-center">
      <div
        class="flex gap-[2px] overflow-scroll w-full max-sm:flex-col max-sm:items-center max-sm:gap-[16px] max-w-[1200px] margin-auto"
      >
        {
          toppers?.map((item, index) => {
            return <TopperCard topper={item} />;
          })
        }
      </div>
    </div>
  </Section>

  <GoToCta />
  <Footer />
</Layout>

<style>
  .float {
    position: fixed;
    /* background-color:#25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
