---
import Layout from "../layouts/Layout.astro";

import TopNavigationBar from "../components/TopNavigationBar.astro";

import Hero from "./LandingPageHero.astro";

import "../global.css";

import Footer from "../components/landingPage/Footer.astro";
import Text from "../components/system/Text.astro";
import Section from "../components/system/Section.astro";
import GoToCta from "../components/GoToCta.astro";
import campus1 from "../images/campus/gas/gallery/1.jpeg";
import config from "../../config";
const campusConfig = config.campus.find((c) => c.internalName === "kanakapura");
import slide1 from "../images/slides/01.webp";
import slide3 from "../images/slides/03.webp";
import slide4 from "../images/slides/04.webp";
import slide5 from "../images/slides/05.webp";
import Connect from "../components/campus/Connect.astro";

import whyChooseEdify from "../images/whyChooseEdify.png";

import blobBig from "../fillers/blobBig.png";
import blobBigDark from "../fillers/blobBigDark.png";
import { Image } from "astro:assets";
import Carousel from "../components/system/Carousel.astro";
import CarouselCard from "../components/system/CarouselCard.astro";

import what from "../image/academics/what.png";
import why from "../image/academics/why.png";
import theme from "../image/academics/theme.png";

const toppers = campusConfig?.toppers;

const teams = [
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
  {
    image: "",
    name: "Ajit Mantagani",
    role: "CEO at nsl textiles and apparel",
  },
];

import debate from "../image/clubs/debate.png";
import mun from "../image/clubs/mun.jpeg";
import design from "../image/clubs/cs-1.jpeg";
import eco from "../image/clubs/eco.png";
import humane from "../image/clubs/humane.jpeg";
import music from "../image/clubs/music2.jpeg";
import literary from "../image/clubs/literary.jpeg";
import visarts from "../image/clubs/art.jpeg";
import cuisine from "../image/clubs/cuisine.png";
import perfarts from "../image/clubs/dance.jpeg";

import clubsBG from "../image/clubs/bg.jpeg";

const clubs = [
  {
    title: ["Art", "Education Program"],
    description:
      "The Arts design at EKAM is identified as visual arts, sculpture, dance, drama, music and theatre, which are significant disciplines in their own right. We aim to empower students to enrich their social and working lives through a deeper understanding of value of the arts in modern society.",
    thumbnail: mun,
  },
  {
    title: ["Dear", "Program"],
    description:
      `Read between the Lines!
      A weekly DEAR program (Drop Everything and Read), provides students with much more than a just-sit- there-and-read experience.
      With a library that houses nearly 15,500 books, magazines, newspapers, periodicals, journals and eBooks, our budding readers are spoilt with a whole range of choices.
      `,
    thumbnail: design,
  },
  {
    title: ["Sports", "Enrichment"],
    description:
      `Fitness First!
      
      At Ekam , we believe that sports are an integral part of the educational process and have integrated sports firmly as a part of our curriculum.
      Our Sports Education Program (SEP) emphasizes on the development of knowledge, attitudes and skills related to a range of physical and health related activities.`,
    thumbnail: eco,
  },
  {
    title: ["Scouts & ", "Guide"],
    description:
      "Cubs and bulbuls is the next lap in the journey towards scouting and guiding after Bunny. Character building is its aim. Instilling self – discipline and thoughtfulness for others, at a tender age, is the major focus.  It prepares the boys and girls to take up bigger tasks in scouting and guiding and also helps in their mental and physical growth.",
    thumbnail: humane,
  },
  {
    title: ["Life Skill", "Program"],
    description:
      `A Way of Life! Life Skills at Edify is a year round program. This unique program focuses on developing learning effective problem-solving and relationship building skills to flourish in a competitive world. The Life Skills Program at Edify consciously equips our students with the skills they need to get through life’s ups and downs with equal ease.`,
    thumbnail: music,
  },
  {
    title: ["Student Wellness", "Program"],
    description:
      "Student Wellness Program at EKAM is committed to the educational mission of the school which fosters a robust environment in which all people are welcome and feel welcome. Student Wellness & Health Promotion provides services to support students’ behavioral and emotional wellness, and helps students evaluate options for maintaining healthy lifestyles, through prevention, intervention, and education.",
    thumbnail: literary,
  },
  {
    title: ["Value", "Education"],
    description:
      "A World of Good. Values are guiding principles that shape our outlook, attitudes and conduct. Teachers at EKAM have pledged to instill in our students those moral values that present a true perspective for the development of any society or nation. The Value Education Program at EKAM aspires to stimulate reflection and introspection about issues that have moral and ethical relevance among students. ",
    thumbnail: visarts,
  },
  {
    title: ["Gender", "Sensitivity"],
    description:
      "Gender Sensitivity Program at EKAM wishes to cultivate values of equality among the students by recognizing women’s role to be as important as men’s in addressing environmental and development issues. The gender perspective is not only relevant to projects where women are the principal target group, but it must also be mainstreamed in all environmental and development programs.",
    thumbnail: perfarts,
  },
  {
    title: ["Community", "Outreach"],
    description:
      "Community service is taken up with great integrity and passion at EKAM. The students and faculty not only bond with the community but also continue to transfer the same spirit of spreading compassion and kindness around them. Community service has been an integral part of the school since its inception and has been one of the foundational principles of the school. ",
    thumbnail: cuisine,
  },
  {
    title: ["Personality", "Developement"],
    description:
      "In addition to the innovative Program and Club Portfolio Options offered, students at EKAM are also given opportunities to participate in workshops that are conducted throughout the year and focus on a plethora of aspects relating to the holistic development and balanced personality. ",
    thumbnail: cuisine,
  },
  {
    title: ["TED-ED"],
    description:
      "Students are filled with curious, innovative, brilliant and thoughtful ideas; we know there is a significant impact when students are not only asked about their passions and perspectives, but when they work to develop and share those ideas to a larger audience.",
    thumbnail: cuisine,
  },
  // {
  //   title: ["Leaders", "Code"],
  //   description:
  //     "Knowingly or unknowingly the world has been under the influence of some remarkable personalities who inspire us every day. These leaders with such such magnificent minds have showered us with their wisdom as well as achieved some extraordinary goals, which are revered to date.",
  //   thumbnail: cuisine,
  // },
  {
    title: ["Elocution"],
    description:
      "Elements of elocution in which the principles of reading and speaking are investigated with directions for strengthening and modulating the voice, showing how they affect the countenance, tone of voice, and gesture of the content explaining the nature of accent, emphasis, inflection, and cadence.",
    thumbnail: cuisine,
  },
];
---

<Layout
  title="Clubs | Best International K12 Primary Schools South bengalore Electronic City"
>
  <div class="flex flex-col">
    <TopNavigationBar />
    <div
      class="h-[70svh] flex"
      style="background: linear-gradient(360deg, #1B2226 0%, #052B4C 52.08%, #1370A7 100%);"
    >
      <Hero
        config={{ title: "Welcome to Ekam Academy", bgImage: campus1 }}
        showSlide={true}
        slideImages={[
          { slide: clubsBG.src, position: "center 64%", type: "image" },
        ]}
        contentDirection="items-end"
        className="overflow-hidden font-roundo"
      >
        <div slot="title">
          <Text type="h2">
            Ekam <span class="text-primary">Co-scholastics</span>
          </Text>
          <div class="p-1"></div>
          <Text type="base" class="text-white max-md:w-full">
            Engage in Personalised Learning and Enrichment through Our Dynamic
            Clubs
          </Text>
          <br />
        </div>
      </Hero>
    </div>
  </div>

  <Section class="flex flex-row flex-wrap gap-5 justify-center items-center">
    {
      clubs.map((club) => (
        <div
          style={{
            background: "linear-gradient(0deg, #FFF7F2 -2.33%, #FFF 29.76%)",
            backdropFilter: "blur(16px)",
            borderRadius: "24px",
          }}
          class="p-4 w-[400px] min-h-[530px] border-[#B8B8B8]/60 border"
        >
          <div
            class="w-full h-[320px] bg-cover bg-center rounded-2xl"
            style={{
              backgroundImage: `url(${club.thumbnail.src})`,
            }}
          />
          <Text type="h4" class="mt-4 font-medium">
            <span class="text-primary">{club.title[0]}</span>{" "}
            <span>{club.title[1]}</span>
          </Text>
          <Text
            type="sm"
            class="mt-2 [&>span]:text-primary [&>span]:font-bold"
            set:html={club.description}
          />
        </div>
      ))
    }
  </Section>

  <GoToCta />
  <Footer />
</Layout>

<style>
  .float {
    position: fixed;
    /* background-color:#25d366; */
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out;
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
