---

interface Props {
  type: 'h1' | 'h2' | 'h3' | 'h4' | 'base' | 'lg' | 'regular' | 'sm' | 'xs' | 'subtitle' | 'p' | 'span',
  class?: string,
  style?: {},
}

const { type = 'base', class: className, style = {}, ...props } = Astro.props

---

{type === 'h1' && (
  <h1
    class:list={[
      "font-display text-[60px] tracking-tight max-md:text-[2rem] [&>span]:text-primary [&>span]:italic leading-[120%]", 
      className
    ]}
    style={style}
    {...props}
  >
    <slot />
  </h1>
)}
{type === 'h2' && (
  <h2
    class:list={[
      "font-display text-[60px] tracking-tight max-md:text-[2rem] [&>span]:text-primary [&>span]:italic leading-[120%]", 
      className
    ]}
    style={style}
    {...props}
  >
    <slot />
  </h2>
)}

{type === 'h3' && (
  <h3
    class:list={[
      "text-[50px] tracking-tight font-display max-md:text-2xl", 
      className
    ]}
    style={style}
    {...props}

  >
    <slot />
  </h3>
)}

{type === 'h4' && (
  <h2
    class:list={[
      "text-2xl tracking-tight font-display", 
      className
    ]}
    style={style}
    {...props}

  >
    <slot />
  </h2>
)}

{type === 'p' && (
  <p
    class:list={[
      "text-lg max-md:text-base", 
      className
    ]}
    style={style}
    {...props}

  >
    <slot />
  </p>
)}

{type === 'span' && (
<span
  class:list={[
    "text-lg max-md:text-base", 
    className
  ]}
  style={style}
  {...props}

>
  <slot />
</span>
)}

{type === 'lg' && (
  <p
    class:list={[
      "text-[28px] font-bold -tracking-[0.56px] max-md:text-lg", 
      className
    ]}
    style={style}
    {...props}
  >
    <slot />
  </p>
)}
{type === 'base' && (
  <p
    class:list={[
      "text-2xl max-md:text-base text-[#1b2226] leading-[140%]", 
      className
    ]}
    style={style}
    {...props}

  >
    <slot />
  </p>
)}
{
  type === 'regular' && (
  <p
    class:list={[
      "text-lg max-md:text-base", 
      className,
    ]}
    style={style}
    {...props}
  >
    <slot />
  </p>
  )
}

{type === 'sm' && (
  <p
    class:list={[
      "text-lg", 
      className
    ]}
    style={style}
    {...props}
  >
    <slot />
  </p>
)}

{type === 'xs' && (
  <p
    class:list={[
      "text-base", 
      className
    ]}
    style={style}
    {...props}
  >
    <slot />
  </p>
)}

{type === 'subtitle' && (
  <p
    class:list={[
      "text-xl max-md:text-base font-bold text-center tracking-[2.4px]",
      className
    ]}
    style={{
      ...style
    }}
    {...props}
  >
    <slot />
  </p>
)}
